#everything {
	border: 1px solid grey;
	border-radius: 5px;
	margin-top: 20px;
}

#message {
	text-align: center;
}

#clickMe {
	margin-top: 20px;
}

#notesContainer {
	margin-top: 30px;
}

#header {
	text-align: center;
}