
#main {
	padding-top: 20px;
	background-color: #DEECF5;
}

#buttons {
	padding-top: 20px;
	padding-bottom: 20px;
}

#game {
	border: 1px solid black;
	border-radius: 5px;
	padding: 10px;
	text-align: center;
	background-color: #A6B6C1;
}

td {
	width: 50px;
	height: 50px;
}

#info {
	margin-top: 10px;
}

#ready {
	margin-left: 10px;
}

#done {
	margin-left: 10px;
}

#rows {
	width: 100px;
	margin-right: 10px;
}

#columns {
	width: 100px;
}

.error {
	color: red;
}

#icons {
	padding-left: 25px;
}

