<div id='main' >
	<div class='row' id='top'>
		<div id='icons' class='col-xs-1'>
			<div id='bot'>
				<img src='icons/bot.png' width='40' height='40' />
			</div>
			<div id='target'>
				<img src='icons/target.png' width="40" height="40" />
			</div>
		</div>
		<div id='game' class='col-xs-10'>
			<p>
				<h3>No grid yet</h3>
				<p>Click on "New Maze" to make a new one</p>
			</p>
		</div>
	</div>

	<div id='buttons' class='row'>
		<div class='col-xs-6'>
			<button id='new' type='button' data-toggle='modal' data-target='#mazeInit' class='btn btn-primary col-xs-offset-6 col-xs-6'>New Maze</button>
		</div>
		<div class='col-xs-6'>
			<button id='solve' type='button' class='btn btn-success col-xs-offset-2 col-xs-6 hidden'>Solve</button>
			<button id='stop' type='button' class='btn btn-danger col-xs-offset-2 col-xs-6 hidden'>Stop</button>
			<button id='continue' type='button' class='btn btn-info col-xs-offset-2 col-xs-6 hidden'>Continue</button>
		</div>
	</div>
</div>

<!-- modals -->
<div class='modal fade' id='mazeInit'>
	<div class='modal-dialog'>
		<div class='modal-content'>
			<div class='modal-header'>
				<h4>How big do you want the maze to be?</h4>
			</div>

			<div class='modal-body'>
				<label for='rows'>Rows: </label>
				<input type='number' name='rows' min='2' id='rows'  value=5>

				<label for='columns'>Columns: </label>
				<input type='number' name='columns' min='2' id='columns'  value=10>

				<div id='feedback'></div>
			</div>

			<div class='modal-footer'>
				<button type='button' data-dismiss='modal' class='btn btn-warning'>Cancel</button>
				<button type='button' id='create' class='btn btn-primary'>Create</button>
			</div>
		</div>
	</div>
</div>

<div class='modal fade' id='endGame'>
	<div class='modal-dialog'>
		<div class='modal-content'>
			<div class='modal-header'>
				<h4>The end</h4>
			</div>

			<div class='modal-body'>
				<p>Target was found!</p>
			</div>

			<div class='modal-footer'>
				<button type='button' data-dismiss='modal' class='btn btn-primary'>OK</button>
			</div>
		</div>
	</div>
</div>

<div class='modal fade' id='deadEnd'>
	<div class='modal-dialog'>
		<div class='modal-content'>
			<div class='modal-header'>
				<h4>Dead end</h4>
			</div>

			<div class='modal-body'>
				<p>Nowhere to go!</p>
			</div>

			<div class='modal-footer'>
				<button type='button' data-dismiss='modal' class='btn btn-primary'>OK</button>
			</div>
		</div>
	</div>
</div>